@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  background-color: orange;
  width: 500px;
  height: 300px;
  padding: 10px 20px;
}

.body {
  /* background-color: #f7f4f4; */
}
